doctype html
html
  head
    title โปรแกรมบันทึกเงินเดือน (Pay Slip) : #{title}
    //- link(rel="stylesheet", href="/vendor/bootstrap-material-design/dist/css/material.css")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/vendor/bootstrap-material-design/dist/css/material-fullpalette.css")
    link(rel="stylesheet", href="/vendor/bootstrap-material-design/dist/css/ripples.css")
    link(rel="stylesheet", href="/vendor/bootstrap-material-design/dist/css/roboto.css")
    link(rel="stylesheet", href="/vendor/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet', href='/css/style.css')
      
    script(src="/vendor/jquery/dist/jquery.min.js")  
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")  
    script(src="/vendor/bootstrap-material-design/dist/js/material.min.js")
    script(src="/vendor/bootstrap-material-design/dist/js/ripples.min.js")
    block scripts
  body
    .navbar.navbar-default
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-responsive-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand 
          i.fa.fa-shopping-cart
          | &nbsp; iSlip
      .navbar-collapse.collapse.navbar-responsive-collapse
        ul.nav.navbar-nav
          li
            a(href="/")
              i.fa.fa-fw.fa-home
              | &nbsp;หน้าหลัก

          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown", data-target="#")
              i.fa.fa-fw.fa-cogs
              | &nbsp; ตั้งค่า
              b.caret
            ul.dropdown-menu
              li
                a(href="/employees")
                 i.fa.fa-users
                 | &nbsp; ข้อมูลพนักงาน
              li
                a(href="/settings")
                  i.fa.fa-cogs
                  | &nbsp; ข้อมูลทั่วไป
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a(href="#", data-toggle="dropdown", data-target="#").dropdown-toggle
              i.fa.fa-bars
            ul.dropdown-menu
              li
                a(href="#")
                  i.fa.fa-key.fa-fw
                  | &nbsp; เปลี่ยนรหัสผ่าน
              li.divider
              li
                a(href="#")
                  i.fa.fa-sign-out.fa-fw
                  | &nbsp; ออกจากโปรแกรม
      //
    .container          
      block content
