extends layout

block scripts 
  script(src="/js/admin_change_pass.js")
    
block content 
  ul.breadcrumb
    li
      a(href="/") หน้าหลัก
    li.active เปลี่ยนรหัสผ่าน

  .panel.panel-default
    .panel-body
      form(action="/admin/changepass", method="post")
        .row
          .col-md-12
            if error
              .alert.alert-danger
                strong ERROR!
                | &nbsp; #{msg}
        .row
          .col-md-4
            .form-group
              label รหัสผ่านเดิม
              input(type="password", name="oldPass").form-control#txtOldPassword
          .col-md-4
            .form-group
              label รหัสผ่านใหม่
              input(type="password", name="newPass").form-control#txtOldPassword
          .col-md-5
            button(type="submit").btn.btn-primary.btn-raised#btnSearch
              i.fa.fa-save
              | &nbsp; เปลี่ยนรหัสผ่าน
