extends layout

block content
  ul.breadcrumb
    li 
      a(href="#") Home
    li.active Main Page 
      
  .jumbotron
    h2 ยินดีต้อนรับ
    p ยินดีต้อนรับเข้าสู่โปรแกรมบันทึกเงินเดือน (Pay Slip)
    p 
      a(href="/admin/slip").btn.btn-danger.btn-lg บันทึกเงินเดือน
