extends client_layout

block scripts 
  script(src="/js/client_index.js")
    
block content
  ul.breadcrumb
    li 
      a(href="#") หน้าหลัก
    li.active Dashboard
      
  .panel.panel-primary
    .panel-heading
      h4.panel-title 
        i.fa.fa-navicon
        | &nbsp; รายการสลิปเงินเดือนย้อนหลัง
    .panel-body
      table.table.table-striped.table-hover#tblList
        thead
          tr 
            th ปี
            th เดือน
            th(style="text-align: right;").hidden-xs รายรับ
            th(style="text-align: right;").hidden-xs รายจ่าย
            th(style="text-align: right;") คงเหลือ
            th(style="text-align: center;")
        tbody 
          tr 
            td(colspan="6") ...
