extends login_layout
block scripts
  script(src="/js/login.js")
    
block content
  
  div(style="margin-top:50px;").col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2                   
    .panel.panel-primary
      .panel-heading(style="height: 50px;")
        .panel-title 
          i.fa.fa-lock 
          | &nbsp; ยินดีต้อนรับเข้าสู่โปรแกรม iSlip
      div(style="padding-top:20px").panel-body
        form.form-horizontal(role="form", action="/users/login", method="post")#frmLogin
          div#divAlert.alert.alert-danger(style="display: none;")
            //- button(type="button", data-dismiss="alert").close ×
            p 
              i.fa.fa-ban
              | &nbsp; 
              span#txtMessage
          div(style="margin-bottom: 25px").input-group
            span.input-group-addon
              i.glyphicon.glyphicon-user
            input(type="text", placeholder="ชื่อผู้ใช้งาน", name="username")#txtUsername.form-control.floating-label
          div(style="margin-bottom: 25px").input-group
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input(type="password", placeholder="รหัสผ่าน", name="password")#txtPassword.form-control.floating-label


          div(style="margin-top:10px;").form-group
            .col-sm-12.controls
              button(type="submit").btn.btn-warning.btn-raised
                i.fa.fa-sign-in
                | &nbsp; เข้าสู่ระบบ

          .form-group
            div(style="border-top: 1px solid#888; padding-top:15px; font-size:85%")
            .col-md-6.control
                | สำหรับผู้ดูแลระบบ &nbsp; 
                a(href="/users/admin/login") 
                  strong เข้าสู่ระบบ
            .col-md-6.control
              div.pull-right
                a(href="http://www.kchosp.go.th/upload/editor-pic/files/คู่มือโปรแกรม-iSlip-Users.pdf")
                  strong 
                    i.fa.fa-info-circle
                    | &nbsp; คู่มือการใช้งาน

  .modal.fade(role="dialog")#mdlHelp
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button(type="button", data-dismiss="modal", aria-label="Close").close
            span(aria-hidden="true") &times;
          h4.modal-title
           i.fa.fa-info-circle
           | &nbsp; คำแนะนำการใช้งาน
           br
           br
        .modal-body
          p
            strong 
              span.text-danger ชื่อผู้ใช้
            | &nbsp; เลขบัตรประชาชน 13 หลัก
          p
            strong 
              span.text-danger รหัสผ่าน
            | &nbsp; ตัวเลข 4 ตัวท้ายของเลขที่บัญชี
