extends layout

block scripts
  script(src="/js/slips.js")
block content
  ul.breadcrumb
    li 
      a(href="/") หน้าหลัก
    li.active สลิปเงินเดือน

  .panel.panel-default
    .panel-body
      .row
        .col-md-1(style="text-align: right;")
          label เดือน
        .col-md-3
          select.form-control#slMonth
            option(value="01") มกราคม
            option(value="02") กุมภาพันธุ์
            option(value="03") มีนาคม
            option(value="04") เมษายน
            option(value="05") พฤษภาคม
            option(value="06") มิถุนายน
            option(value="07") กรกฎาคม
            option(value="08") สิงหาคม
            option(value="09") กันยายน
            option(value="10") ตุลาคม
            option(value="11") พฤศจิกายน
            option(value="12") ธันวาคม
        .col-md-1(style="text-align: right;")
          label.control-label ปี
        .col-md-2
          select.form-control#slYear
            option(value="2558") 2558
            option(value="2559") 2559
            option(value="2560") 2560
            option(value="2561") 2561
            option(value="2562") 2562
        .col-md-1 
          button.btn.btn-default.btn-sm.btn-raised#btnSearch
            i.fa.fa-search
            | &nbsp; ค้นหา
        .col-md-4
          .pull-right
            a.btn.btn-sm.btn-success(href="/admin/slip/new")
              i.fa.fa-plus 
              | &nbsp; เพิ่ม
  
  .panel.panel-default
    .panel-body
      table.table.table-striped#tblList
        thead
          tr 
            th #
            th ชื่อ-สกุล
            th ตำแหน่ง
            th(style="text-align: right;") รายรับ
            th(style="text-align: right;") รายจ่าย
            th(style="text-align: right;") คงเหลือ
            th(style="text-align: center;")
        tbody
          tr 
            td(colspan="7") ...
